@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family:'Open Sans' , sans-serif;
    margin:0;
    padding: 0;
    font-weight: 400;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin:0 auto;
    padding:40px;
   
}

a:hover {
color:hsl(224, 93%, 58%);
}

img {
    max-width: 100%;
}


h1,h2,h4 {
    font-family: 'Raleway', sans-serif;
}

.flex {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}



.flex > div,
.flex > ul {
	flex: 1;
}

.flex >div:first-child {
    margin-right:20px;
}

.flex >div:last-child {
    margin-left:20px;
    margin-top: 20px;
}


/* nav bar  */

nav {
    
    display: flex;
    align-items:  center;
    justify-content: space-between;
   
}

nav ul {
    display: flex;
    list-style: none;
    padding:0;
}

nav ul li {
    margin-left:20px;
}

nav ul a  {
    text-decoration: none;
    color:black;
}

h1 {
    line-height: 1.7;
}
header p {
    font-size: 1.1em;
}

.illustration {
    display: block;
}
.illustration-mobile {
    display: none;
}
/* form  */

form {
    display: flex;
    margin-top: 30px;
}

input {
    flex:0.7;
    padding: 15px;
    border-radius: 3px;
    border: 1px solid hsl(243, 87%, 12%);
    font-family: 'Raleway', sans-serif;
}

input::placeholder {
    color:hsl(0, 0%, 75%)

}

button {
    flex:0.3;
    background-color: hsl(224, 93%, 58%);
    border: 1px solid hsl(224, 93%, 58%);
    color:#fff;
    margin-left:5px;
    border-radius: 3px;
    padding:15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    cursor: pointer;
}


.second {
    background-color: hsl(240, 75%, 98%);
    position: relative;
    margin-top: 100px;
    padding: 50px 0;
   
}
.illustration2 {
    display: block;
}
.illustration2-mobile {
    display: none;
}

.second::before {
content: '';
position:absolute;
background-image: url("./images/bg-curve-desktop.svg");
background-size: cover;
width: 100%;
height: 70px;
top:-70px;
left:0;
}

a.special {
    color:#3DA08F;
    text-decoration: none;
    position:relative;
}

a.special::after {
    position: absolute;
    content: '';
    display: block;
    border-bottom: 1px solid #3DA08F ;
    width:100%;
}

.testimonial {
    background-color: #fff;
    padding:25px;
    width:75%;
    margin-top:30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    border-radius: 4px;
}

.testimonial p {
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 1.7;
}

.user {
    display: flex;
    margin-top:20px;
}

.user img {
    height:50px;
    width:50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user h4 {
    margin:0;
    font-weight: 700;
}

.subscribe {
    background-color:  hsl(238, 22%, 44%);
    color:#fff;
    padding:30px 0px;
}

.subscribe form {
   
    flex-direction: column;
}
.subscribe form input {
    flex:1;
    border:none;
}

.subscribe button {
    width:50%;
    margin:20px 0;
}


footer {
	background-color: hsl(243, 87%, 12%);
	color: #fff;
	padding: 50px 0;
}

footer ul {
	list-style-type: none;
}

footer ul li {
	margin-bottom: 20px;
}

footer .social {
	display: flex;
	align-items: center;
	justify-content: center;
}

.fas.fa-phone-volume {
    color:#fff;
    transform: rotate(-25deg);
}

.fas.fa-envelope{
color:#fff;
margin-right: 10px;
}


footer .circle {
	border: 1px solid #fff;
	border-radius: 50%;
	color: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	height: 40px;
	width: 40px;
	text-decoration: none;
}

footer p {
	text-align: right;
}

@media screen and (max-width:768px)

{
    body {
        text-align: center;
    }

    .flex {
    flex-direction: column;
    }

    .flex >div {
        width: 100%;
     }

    h1 {
    font-size: 1.4em;
    line-height: 1.3;
    }

    .container {
        padding:20px;
    }

    .logo  {
    width:20%;
    }

    .illustration {
        display: none;
    }
    .illustration-mobile {
        display: block;
        margin-bottom: 20px;
    }

    .illustration2 {
        display: none;
    }
    .illustration2-mobile {
        display: block;
        margin-bottom: 20px;
    }

    form {
    flex-direction: column;
    }

    button {
     margin:20px 0;
    }
    
    .second {
        padding-top:5px
    }

    .second::before {
    background-image: url("./images/bg-curve-mobile.svg");
    background-position:center center;
       top:-50px;
    }

    a.special::after {
    left: 1%;
    }

    .testimonial {
    width: 100%;
    }

    .quote {
    display: flex;
    align-items:flex-start;
    }

    .testimonial p {
        text-align: left;
        }

    .user h4 {
    margin-left:-40px;
    }

.user small {
    margin-left:14px;
}

.subscribe p 
{
    padding:0 60px
}

.subscribe form {
    padding:30px;
}

.subscribe button {
    width:100%;
}

footer ul 
{
width: 100%;
padding: 0;
}
}
